@model SzyfrCezara

@{
ViewBag.Title = "Szyfr Cezara";
Layout = "_Layout";
}

<div class="container mt-5">
    <h1 class="text-center">Szyfr Cezara</h1>

    <div class="mb-3">
        <div>Tekst:</div>
        <div class="alert alert-secondary text-break" >@Model.text</div>
    </div>

    <div class="mb-3">
        <div>Klucz (przesunięcie):</div>
        <div class="alert alert-secondary text-break">@Model.step</div>
    </div>

    <h2>Wynik:</h2>
    <div id="result" class="alert alert-secondary text-break" role="alert">
        @if (Model.method == MethodsEnum.Encrypt.ToString())
        {
        @Model.Encrypt()
        }
        else
        {
        @Model.Decrypt()
        }
    </div>
    <button id="copyButton" class="btn btn-primary mt-3">Kopiuj wynik</button>
</div>
<script>
    document.getElementById('copyButton').addEventListener('click', function() {
        var resultText = document.getElementById('result').innerText;
        var textarea = document.createElement('textarea');
        textarea.value = resultText;
        document.body.appendChild(textarea);
        textarea.select();
        document.execCommand('copy');

        document.body.removeChild(textarea);
    });
</script>