@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container mt-5">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Coś poszło nie tak!</h4>
        <p>Niepoprawnu format dannych!</p>
    </div>
</div>
